<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Sovereign Engine Client" Language="1033" Version="0.0.1.0" Manufacturer="opticfluorine" UpgradeCode="5ed67ef6-fdcf-4d5f-9ffb-0e0be4372751">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1"
           Cabinet="SovereignClient.cab" EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <UIRef Id="WixUI_Mondo"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
		<Feature Id="ProductFeature" Title="Sovereign Engine Client" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Sovereign Engine Client" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="SovereignClient" Guid="471337DB-3D03-411E-BA15-B6BFBC1ED2B3">
        <!-- Sovereign Components -->
        <File Source="$(var.SovereignClient.TargetPath)" />
        <File Source="$(var.SovereignClient.TargetDir)\Sovereign.$(var.ClientCore.ProjectName).dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Sovereign.$(var.D3D11Renderer.ProjectName).dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Sovereign.$(var.EngineCore.ProjectName).dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Sovereign.$(var.EngineUtil.ProjectName).dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Sovereign.$(var.WorldLib.ProjectName).dll" />

        <!-- Data, Top Level -->
        <File Source="$(var.SovereignClient.TargetDir)\Data\Logging.xml" />

        <!-- Data, Shaders -->
        <File Source="$(var.SovereignClient.TargetDir)\Data\Shader\WorldVertexShader.cso" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Shader\WorldPixelShader.cso" />

        <!-- Data, Sprite Definitions -->
        <File Source="$(var.SovereignClient.TargetDir)\Data\Sprite\AnimatedSpriteDefinitions.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Sprite\SpriteDefinitions.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Sprite\TileSpriteDefinitions.yaml" />

        <!-- Data, Spritesheets -->
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\Attribution_lpc_atlas_1_2.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\Attribution_lpc_atlas_3_4.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\bat.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\bat.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\bee.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\bee.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\big_worm.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\big_worm.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\eyeball.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\eyeball.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\ghost.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\ghost.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_1.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_1.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_2.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_2.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_3.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_3.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_4.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\lpc_atlas_4.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\man_eater_flower.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\man_eater_flower.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\pumpking.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\pumpking.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\slime.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\slime.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\small_worm.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\small_worm.yaml" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\snake.png" />
        <File Source="$(var.SovereignClient.TargetDir)\Data\Spritesheet\snake.yaml" />

        <!-- Data, World Definitions -->
        <File Source="$(var.SovereignClient.TargetDir)\Data\World\MaterialDefinitions.yaml" />
        
        <!-- Dependencies: SDL -->
        <File Source="$(var.SovereignClient.TargetDir)\SDL2.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\README-SDL.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\SDL2_image.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\README-SDL_image.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\libjpeg-9.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\LICENSE.jpeg.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\libpng16-16.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\LICENSE.png.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\libtiff-5.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\LICENSE.tiff.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\libwebp-7.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\LICENSE.webp.txt" />
        <File Source="$(var.SovereignClient.TargetDir)\zlib1.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\LICENSE.zlib.txt" />

        <!-- Dependencies: Castle -->
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Core.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Core.xml" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Facilities.Logging.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Facilities.Logging.xml" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Services.Logging.Log4netIntegration.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Services.Logging.Log4netIntegration.xml" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Windsor.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\Castle.Windsor.xml" />

        <!-- Dependencies: log4net -->
        <File Source="$(var.SovereignClient.TargetDir)\log4net.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\log4net.xml" />

        <!-- Dependencies: YamlDotNet -->
        <File Source="$(var.SovereignClient.TargetDir)\YamlDotNet.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\YamlDotNet.xml" />
        
        <!-- Dependencies: SharpDX -->
        <File Source="$(var.SovereignClient.TargetDir)\SharpDX.Direct3D11.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\SharpDX.Direct3D11.xml" />
        <File Source="$(var.SovereignClient.TargetDir)\SharpDX.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\SharpDX.DXGI.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\SharpDX.DXGI.xml" />
        
        <!-- Dependencies: System.Numerics.Vectors -->
        <File Source="$(var.SovereignClient.TargetDir)\System.Numerics.Vectors.dll" />
        <File Source="$(var.SovereignClient.TargetDir)\System.Numerics.Vectors.xml" />
        
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
